<div style="overflow: hidden" class="containter">
  <div class="row">
    <div class="col-2">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-10">
      <div class="row">
        <app-tool-bar style="padding: 0px"></app-tool-bar>
        <!-- <app-nav></app-nav> -->
      </div>
      <div class="page-wrapper">
        <div class="row">
          <!-- <div class="col-sm-2"></div> -->
          <div class="col-2">
            <div class="heading" style="padding: 80px">
              <b>DASHBOARD</b>
            </div>
          </div>
          <div class="add">
            <!-- <button
            style="height: 39%"
            type="button"
            class="btn btn-info"
            type="submit"
            (click)="openmodal()"
          >
            ADD
          </button> -->
          </div>
          <div class="col-2"></div>
          <div class="col-8">
            <mat-card>
              <button
                (click)="openmodal()"
                type="button"
                class="btn btn-primary"
                type="submit"
                style="margin-left: 92%"
              >
                ADD
              </button>
              <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8"
              >
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.name }}
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="benefit">
                  <th mat-header-cell *matHeaderCellDef>Benefit</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.benefit }}
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="protien">
                  <th mat-header-cell *matHeaderCellDef>Protien</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.protien }}
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <mat-icon style="cursor: pointer" [matMenuTriggerFor]="menu"
                      >more_horiz</mat-icon
                    >
                    <mat-menu #menu="matMenu">
                      <!-- <button mat-menu-item>Add</button> -->
                      <button mat-menu-item (click)="EditData(element)">
                        Edit
                      </button>
                      <button (click)="DeleteData(element._id)" mat-menu-item>
                        Delete
                      </button>
                    </mat-menu>
                    <!-- <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit</button>
                  </mat-menu> -->
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
