.add {
  /* display: flex;
  justify-content: flex-end; */
  /* margin-top: -7%; */
  /* margin-left: 76%; */
}
.btn btn-info {
  /* height: "39%"; */
  display: flex;
  justify-content: flex-end;
  margin-left: 92%;
}
table {
  width: 100%;
}
.row > * {
  /* padding-left: 0%; */
  /* padding-right: 0%; */
}
.container {
  overflow: hidden;
}
