<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-1"></div>
    <div class="col-8">
      <div class="row">
        <!-- <div class="col-2"></div> -->
        <!-- <app-nav></app-nav> -->
      </div>
      <!-- <div class="container"> -->
      <div class="row">
        <div class="col-3">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dates</mat-card-title>
              <mat-card-subtitle>Human Breed</mat-card-subtitle>
            </mat-card-header>
            <img
              class="img"
              mat-card-image
              src="../../../assets/download (1).jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm-3">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image1"></div>
              <mat-card-title>Nuts</mat-card-title>
              <mat-card-subtitle>Human Breed</mat-card-subtitle>
            </mat-card-header>
            <img
              class="img"
              mat-card-image
              src="../../../assets/download.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm-3">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image2"></div>
              <mat-card-title>Almonds</mat-card-title>
              <mat-card-subtitle>Human Breed</mat-card-subtitle>
            </mat-card-header>
            <img
              class="img"
              mat-card-image
              src="../../../assets/licensed-image.jpg "
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image3"></div>
              <mat-card-title>Apricot</mat-card-title>
              <mat-card-subtitle>Human Breed</mat-card-subtitle>
            </mat-card-header>
            <img
              class="img"
              mat-card-image
              src="../../../assets/apricots-Dried.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm-3">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image4"></div>
              <mat-card-title>Ajwa Dates</mat-card-title>
              <mat-card-subtitle>Human Breed</mat-card-subtitle>
            </mat-card-header>
            <img
              class="img"
              mat-card-image
              src="../../../assets/images.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm-3">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image5"></div>
              <mat-card-title>MIX DRU FRIUT</mat-card-title>
              <mat-card-subtitle>Human Breed</mat-card-subtitle>
            </mat-card-header>
            <img
              class="img"
              mat-card-image
              src="../../../assets/the-health-benefits-of-nuts-main-image-700-350-bb95ac2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was
                originally.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
