<!-- <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div>
  <a href="#">
    <img
      src=".././../assets/Meiji.jpeg"
      alt="HBL"
      style="width: 80%; height: 80%"
  /></a>
  <ul style="margin-left: 68rem">
    <li style="background: bottom">Home</li>
    <li style="background: bottom">
      <a href="#"
        ><img src="../../assets/logout_img.png" style="width: 65px"
      /></a>
      <ul>
        <li><a href="#">Logout</a></li>
      </ul>
    </li>
  </ul>
</div> -->

<!-- <app-sidebar></app-sidebar> -->

<!-- <canvas mdbChart type="'bar'" datasets="datasets" labels="labels"></canvas> -->

<!-- 

<div class="container-fluid">
  <div class="col-sm-4"></div>
  <div class="col-sm-8">
    <mat-toolbar>
      <img
        style="height: 55px; cursor: pointer"
        [matMenuTriggerFor]="menu"
        src="assets/img/1.jpg"
      />
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </mat-toolbar>
  </div>
</div> -->

<div class="col-12">
  <mat-card class="wide">
    <!-- <div class="mainSideNav" style="overflow: auto; font-size: 14px"> -->
    <div>
      <p class="DryFruit">DtyFruit APP</p>
      <span class="tabs d-flex align-items-end" routerLinkActive="active">
        <mat-icon class="mr-4">home</mat-icon>
        Dashboard
      </span>
      <span
        class="tabs d-flex align-items-end"
        routerLink="/hi"
        routerLinkActive="active"
      >
        <mat-icon class="mr-4">graphic_eq</mat-icon>

        Graph Data
      </span>
      <span
        class="tabs d-flex align-items-end"
        routerLinkActive="active"
        (click)="openClosePanel1()"
      >
        <mat-icon class="mr-4">summarize</mat-icon>
        <span style="width: 100%" routerLink="/details">DryFruit</span>
      </span>
      <span
        class="tabs d-flex align-items-end"
        routerLink="/info"
        routerLinkActive="active"
      >
        <mat-icon>note_add</mat-icon>
        Information
      </span>
    </div>
    <div class="text-center mb-3"></div>
    <!-- </div> -->
  </mat-card>
</div>
